.logo {
  width: 50px;
  height: 50px;
}

/* .mainContainer {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid;
}
nav {
  height: 10%;
  width: 100%;
  flex: 1 0 auto;
  background-color: white;
  display: flex;
}
.navBtnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: end;
}
.navBtnContainer > * {
  flex: 1 0 auto;
}
main {
  flex: 9 0 auto;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
aside {
  flex: 1 0 auto;
}
.questionContainer {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid;
  justify-items: center;
  background-color: aquamarine;
}
.question {
  font-size: larger;
  flex: 1 0 auto;
  text-align: center;
}
.answersContainer {
  margin: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 8 0 auto;
}
.answersContainer > * {
  height: 100%;
}
.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #37474F;
  flex: 0 auto;
}
.sidebar > * {
  color:white;
  background: #37474F;
  height: 100%;
}
.adContainer {
  height: 10%;
  width: 100%;
  flex: 1 0 auto;
  background-color: violet;
}
footer {
  height: 10%;
  width: 100%;
  flex: 1 0 auto;
  background-color: mistyrose;
}
.container {
  height: 70%;
  width: 100%;
  flex: 7 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/* table,
th,
td {
  border: 1px solid black;
  background-color: white;
} */

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100); */

/* body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
} */

#statistics {
  overflow: auto;
}

/*
div.table-title {
   display: block;
  margin: auto;
  max-width: auto;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 12px;
   
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}




.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 100%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:16px;
  font-weight: 100;
  padding:20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
*/ */